{% extends "admin/adminlayout.html" %}
{% from "macros.html" import render_field %}

{% block content %}
    <div class="container">
        <form method="POST" class="form">
            {{ form.hidden_tag() }}
            <div class="form-group row">
              <div class="col-xs-12">
                {{ render_field(form.google_doc, class="form-control", type="text") }}
              </div>
            </div>
            <div class="form-group row">
              <div class="col-xs-12">
                {{ render_field(form.amara, class="form-control", type="text") }}
              </div>
            </div>
            <button id="username-button" type="submit" class="btn btn-sm btn-primary col-xs-12">Submit</button>
        </form>
    </div>
{% endblock %}