{% macro render_field(field) %}
{#    <div class="field">#}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="form-group has-danger">
                {{ field(placeholder=field.label.text, class_="form-control form-control-danger", **kwargs) | safe }}
                <div class="form-control-feedback">{{ error }}</div>
                </div>
            {% endfor %}
        {% else %}
            {{ field(placeholder=field.label.text, **kwargs) | safe }}
        {% endif %}
{#        {{ field(placeholder=field.label.text, class_='small') }}#}
{#          {{ field.label }}#}
{#          {{ field(placeholder=field.label.text, **kwargs) | safe }}#}
{#    </div>#}
{% endmacro %}

